PORT=8400
LOG_LEVEL=DEBUG
LOG_KIND=TEXT
ENVIRONMENT=test
USER_SERVICE_URL=http://localhost:8600
JWT_SECRET=secret
ACCESS_TOKEN_DURATION_MS=4000
REFRESH_TOKEN_DURATION_MS=6000
DOMAIN_NAME=localhost
PASSWORD_HASH_COST=10
ID_GENERATOR_SERVICE_ADDR=localhost:9000
ID_GENERATOR_SERVICE_CERT_DIR=/path/to/cert/dir
